<html>
    <head>
        <title>capturing sources</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <style>
         
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                <div class="column col-md-12 col-8 col-mx-auto">
                    <a href='/'>more</a> -- <a href='/load'>load</a><br>{{ batch }}
                </div>
            </div>
        </div>
            </body>
</html>
